@model Journey.WebApp.Data.TravelersTrips

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>TravelersTrips</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TripId" />
            <input type="hidden" asp-for="TravelerId" />
            <input type="hidden" asp-for="Trip.DateCreated" />
            <div class="form-group">
                <label asp-for="Trip.TripName" class="control-label"></label>
                <input asp-for="Trip.TripName" class="form-control" />
                <span asp-validation-for="Trip.TripName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.StartDate" class="control-label"></label>
                <input asp-for="Trip.StartDate" class="form-control" />
                <span asp-validation-for="Trip.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.EndDate" class="control-label"></label>
                <input asp-for="Trip.EndDate" class="form-control" />
                <span asp-validation-for="Trip.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Descript" class="control-label"></label>
                <input asp-for="Trip.Descript" class="form-control" />
                <span asp-validation-for="Trip.Descript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
