@model Journey.WebApp.Data.City

<div class="form-group">
    <label asp-for="CityName" class="control-label"></label>
    <input asp-for="CityName" class="form-control" />
    <span asp-validation-for="CityName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CityState" class="control-label"></label>
    <input asp-for="CityState" class="form-control" />
    <span asp-validation-for="CityState" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Country" class="control-label"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>
