@model List<Journey.WebApp.Data.TravelerAlbum>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>


<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Album
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        @await Html.PartialAsync("_Album", new Journey.WebApp.Data.TravelerAlbum())
    </div>
</div>

<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="Album/Photos/@Model[i].Id">
                    <img src="@Model[i].Thumbnail" alt="..." style="width:100%; height:200px;">
                    <div class="caption">
                        <p>@Model[i].AlbumName</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
